*,
*::before *::after {
    box-sizing: border-box;
}

:root {

    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #000;
    --clr-accent: #d4af37;

    --fs-h1: 4rem;
    --fs-h2: 3rem;
    --fs-h3: 2rem;
    --fs-body: 1.5rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (max-width: 800px) {
    :root {

        --fs-h1: 5rem;
        --fs-h2: 4rem;
        --fs-h3: 2.5rem;
        --fs-body: 1.75rem;
    }
}

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-body);

    background-color: var(--clr-light);
    color: var(--clr-dark);

    margin: 0;
    line-height: 1.6;
}

section {

    padding: 5em 2em;
}

strong { font-weight: var(--fw-bold) }

img {

    display: block;
    max-width: 100%;
}

h1 {
    font-size: var(--fs-h1);
}


h2 {
    font-size: var(--fs-h2);
}


h3 {
    font-size: var(--fs-h3);
}

h1,h2,h3 {

    line-height: 1;
    margin: 0;
}

.section-title {
    margin-bottom: .25em;
}

.section-title-intro {
    font-weight: var(--fw-reg);
}

.section-title-intro strong {
    display: block;
}

.section-subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section-subtitle-intro,
.section-subtitle-about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

header nav {display: none;}

.intro {

    position: relative;
}

.intro-img {

    box-shadow: var(--bs);
}

.section-subtitle-intro {

    display: inline-block;
}

@media (min-width: 600px) {

    .intro {

        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro-img {

        grid-area: img;
        min-width: 400px;
        position: relative;
        z-index: 2;
    }

    .section-subtitle-intro {

        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -3rem;
        width: calc(100% + 3rem);
    }
}

.btn {

    display: inline-block;
    background: var(--clr-accent);
    color: var(--clr-dark);
    font-weight: var(--fw-bold);
    padding: 0.5em 1em;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}

.btn:hover {

    transform: scale(1.2);
    background: var(--clr-light);
}

.my-services {

    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
    background-image: url(./img/Fondo\ Formal\ dorat.jpg);
    background-size: cover;
    /*background-blend-mode: ;*/
}

.section-title-services {

    color: var(--clr-accent);
    position: relative;

}

.services {

    margin-bottom: 4em;
}

.service {

    max-width: 500px;
    margin: 0 auto;
}

.section-title-services::after {

    content: "";
    display: block;
    width: 8em;
    height: 2px;
    margin: 1em auto 1em;
    background: var(--clr-light);
    opacity: 20%;
}

@media (min-width: 800px) {

    .services {

        display: flex;
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {

        /*margin-left: 2em;*/
    }
}